.animate-menu-push {
    left: 0;
    position: relative;
    transition: all 0.3s ease;
}

    .animate-menu-push.animate-menu-push-right {
        left: 200px;
    }

    .animate-menu-push.animate-menu-push-left {
        left: -200px;
    }

.animate-menu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
}

.animate-menu-left {
    left: -200px;
}

    .animate-menu-left.animate-menu-open {
        left: 0;
    }

.animate-menu-right {
    right: -200px;
}

    .animate-menu-right.animate-menu-open {
        right: 0;
    }

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

    .nav > li {
        position: relative;
        width: 240px;
        margin: 0;
        padding: 0;
    }

        .nav > li > a {
            padding: 13px 5px 13px 15px;
            display: block;
            border-left: 3px solid transparent;
            color: #223035;
            font-size: 15px;
        }

            .nav > li > a > .fa {
                width: 20px;
            }

            .nav > li:hover > a, .nav > li.active > a, .nav > li > a.active {
                color: #008cff;
                background: rgba(0, 140, 255, 0.15);
                border-left-color: #008cff;
            }

        .nav > li .label, .nav > li .badge {
            margin-top: 3px;
            margin-right: 5px;
        }

    .nav li.sidebar-header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
        color: #8ea2af;
    }

    .nav li > a > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        margin-top: 3px;
    }

    .nav li.active > a > .fa-angle-left {
        transform: rotate(-90deg);
    }

    .nav li.active > .sidebar-submenu {
        display: block;
    }

    .nav a {
        color: #b8c7ce;
        text-decoration: none;
    }

    .nav .sidebar-submenu {
        display: none;
        list-style: none;
        padding-left: 5px;
        margin: 0 1px;
        background: transparent;
    }

        .nav .sidebar-submenu .sidebar-submenu {
            padding-left: 20px;
        }

        .nav .sidebar-submenu > li > a {
            padding: 5px 5px 5px 15px;
            display: block;
            font-size: 14px;
            color: #223035;
        }

            .nav .sidebar-submenu > li > a > .fa {
                width: 20px;
                font-size: 13px;
            }

            .nav .sidebar-submenu > li > a > .fa-angle-left, .nav .sidebar-submenu > li > a > .fa-angle-down {
                width: auto;
            }

            .nav .sidebar-submenu > li.active > a, .nav .sidebar-submenu > li > a:hover {
                color: #008cff;
            }

.nav-rtl {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222d32;
}

    .nav-rtl > li {
        position: relative;
        margin: 0;
        padding: 0;
    }

        .nav-rtl > li > a {
            padding: 12px 15px 12px 5px;
            display: block;
            border-left: 3px solid transparent;
            color: #b8c7ce;
        }

            .nav-rtl > li > a > .fa {
                width: 20px;
            }

        .nav-rtl > li:hover > a, .nav-rtl > li.active > a {
            color: #fff;
            background: #1e282c;
            border-left-color: #3c8dbc;
        }

        .nav-rtl > li .label, .nav-rtl > li .badge {
            margin-top: 3px;
            margin-right: 5px;
        }

    .nav-rtl li.sidebar-header {
        padding: 10px 15px 10px 25px;
        font-size: 12px;
        color: #4b646f;
        background: #1a2226;
    }

    .nav-rtl li > a > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        margin-top: 3px;
    }

    .nav-rtl li.active > a > .fa-angle-left {
        transform: rotate(-90deg);
    }

    .nav-rtl li.active > .sidebar-submenu {
        display: block;
    }

    .nav-rtl a {
        color: #b8c7ce;
        text-decoration: none;
    }

    .nav-rtl .sidebar-submenu {
        display: none;
        list-style: none;
        padding-right: 5px;
        margin: 0 1px;
        background: #2c3b41;
    }

        .nav-rtl .sidebar-submenu .sidebar-submenu {
            padding-right: 20px;
        }

        .nav-rtl .sidebar-submenu > li > a {
            padding: 5px 15px 5px 5px;
            display: block;
            font-size: 14px;
            color: #8aa4af;
        }

            .nav-rtl .sidebar-submenu > li > a > .fa {
                width: 20px;
            }

            .nav-rtl .sidebar-submenu > li > a > .fa-angle-left, .nav-rtl .sidebar-submenu > li > a > .fa-angle-down {
                width: auto;
            }

            .nav-rtl .sidebar-submenu > li.active > a, .nav-rtl .sidebar-submenu > li > a:hover {
                color: #fff;
            }
